{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "jest"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
