{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "globals": {
    "localStorage": true,
    "window": true,
    "describe": true,
    "it": true,
    "expect": true,
    "setTimeout": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
